<h2>This is A Pirate</h2>
<div class='pirate-container'>
  <ul>
    <li> Name: {{name}}
    <br> Birthplace: {{birthplace}}
    <br> Death Year: {{death_year}}
    <br> Base: {{base}}
    <br> Nickname: {{nickname}}
    </li>
    <br>
  </ul>
 </div>
<br>
<a href='/pirates'>See All the Pirates</a>
<br>
<a href='/pirates/new'>Add Another Pirate</a>
